{% extends "shop/base.html" %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.cate_id }}/{{ product.id }}">
                            <img src="{% if product.image %}
                                            {{ product.image }}
                                      {% else %}
                                            {{ url_for('static', filename="img/no_image.png") }}
                                      {% endif %}" alt="">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.num }}</td>
                    <td>
                        <a href="{{ product.cate_id }}/{{ product.id }}/cart_remove">Remove</a>
                    </td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}

        <tr class="total">
            <td>total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{{ url_for("index") }}" class="button light">Continue shopping</a>
        <a href="{{ url_for("order_create") }}" class="button">Checkout</a>
    </p>
{% endblock %}